
<div class="row">
  <div class="col-md-8">

  <!-- Most Popular Posts (3 Most Voted Up) -->
    <div class="box">
      <div class="box-first">
        <% @posts_most_popular.each do |post| %>
          <h5><%= post.title %></h5>
          <div class="index-image">
            <% unless post.image.blank? %>
              <%= image_tag post.image_url %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="box-second">
        <% @posts_popular.each do |post| %>
          <div class="box-second-a">
            <div class="box-second-a-2">
              <h4><%= post.title %></h4>           
            </div>
              <div class="box-second-a-1">
                <% unless post.image.blank? %> 
                  <div class="small-image">
                    <%= image_tag post.image_url %>
                  </div>
                <% end %>
                <h6><%= post.cached_votes_up %> likes</h6>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  <!-- End of Most Popular Posts (3 Most Voted Up) -->

  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-2">
          <!-- date -->
          <h4 class="byline"><%= time_ago_in_words(post.created_at) %> ago </h4>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-8">
              <div class="seperation"></div>
              <!-- content -->
              <h5><%= link_to "#{post.title}", post %></h5>
              <h4 class="byline"> by <%= post.user.first_name %> <%= post.user.last_name %></h4>
              <h4><%= truncate(post.content, length: 150) %></h4>
            </div>
            <div class="col-md-4">
              <% unless post.image.blank? %> 
                <%= image_tag post.image_url %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <%= will_paginate %>

  </div>

  <!-- aside -->
  <div class="col-md-4 tag">
    <h4> Popular Tags
      <br>
      <% tag_cloud(@tag, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
      <% end %>
    </h4>
  </div>
</div>

<!-- this should move to show page -->










