<h1 class="alpha">We want to hear from you</h1>
<h5>Please send us about your tip, pitch or submit your guest column here.</h5>
<h4>
Tip

So you've got the inside scoop on a story or topic that we cover ? Please let us know in the form below or email us directly at tips@admin.com. We will respect your anonymity.

Pitch

Tell us your story ideas in the form below.

</h4>
<br>

<div class="row">
  <div class="col-md-4 offset-md-2">

    <h5>Submission form</h5>
    <br>

      <%= form_for(tip) do |f| %>
        <% if tip.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

            <ul>
            <% tip.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <!-- if user logged in prepopulate form fields with username, if not empty fields -->

        <div class="form-group">

          <%= f.label :first_name %>

          <% if user_signed_in? %>
            <%= f.text_field :first_name, value: current_user.first_name, :readonly => true, class: "form-control" %>
          <% else %>
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          <% end %>

        </div>

        <div class="form-group">

          <%= f.label :last_name %>

          <% if user_signed_in? %>
            <%= f.text_field :last_name, value: current_user.last_name, :readonly => true, class: "form-control" %>
          <% else %>
            <%= f.text_field :last_name, class: "form-control" %>
          <% end %>

        </div>

        <div class="form-group">

          <%= f.label :email %>

          <% if user_signed_in? %>
            <%= f.text_field :email, value: current_user.email, :readonly => true, class: "form-control" %>
          <% else %>
          <%= f.email_field :email, class: "form-control" %>
          <% end %>

        </div>
        
        <div class="form-group">
          <%= f.label :headline %>
          <%= f.text_field :headline, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :tip %>
          <%= f.text_area :tip, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :user_id %>
          <%= f.number_field :user_id, class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-primary" %>
        </div>

      <% end %>

  </div>
</div>