<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="first">
    <a><%= link_to image_tag("logo-placeholder.png"), root_path %></a>
  </div>

  <div class="second">

    <div class="second-a">
        <ul class="navbar-nav mr-auto">
          </li>
            <span class="navbar-text">Got an idea?</span>
            <li class="nav-item">
              <a><%= link_to 'Let us know!', got_a_tip_path, class: "nav-link green-link" %></a>
          </li>
        </ul>
    </div>
    <div class="second-b d-flex justify-content-end">
     
      <!-- links -->

      <div class="collapse navbar-collapse mr-auto p-2" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">News <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a><%= link_to 'Post an Article', new_post_path, class: "nav-link" %></a>
        </ul>
      </div>

        <!-- dropdown -->

      <div class="dropdown show p-2">
        <a class="btn btn-outline-success dropdown-toggle mr-sm-2" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if user_signed_in? %>
          <a><%= link_to 'Log Out', destroy_user_session_path, class: "dropdown-item" %></a>
          <% else %>
            <a><%= link_to 'Sign Up', new_user_registration_path, class: "dropdown-item" %></a>
            <a><%= link_to 'Sign In', new_user_session_path, class: "dropdown-item" %></a>
          <% end %>
        </div>
      </div>

    <!--     search form    -->    

      <form class="form-inline my-2 my-lg-0 p-2">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      
     </div>
  </div>
</nav>

